/*
=============== 
Footer
===============
*/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--mainBackground);
}
.footer-ul {
  padding: 0.5rem;
  border-top: solid 1px var(--clr-footer-border);
  display: grid;
  grid-auto-flow: column;
}
.footer-li {
  text-transform: capitalize;

  transition: var(--transition);
}

.copy-rights {
  font-size: 0.8rem;
  max-width: fit-content;
  margin: 0;
  justify-self: end;
}
.copy-rights span {
  color: black;
}
.social-icons a {
  margin: 0 0.5rem;
  color: var(--clr-green-dark);
}

.social-icons a:hover {
  color: var(--clr-red-light);
}
.social-icons {
  float: right;
  font-size: 1rem;
}

.social-data {
  font-size: 1rem;
  margin-right: 3px;
}
