/*
=============== 
Navbar
===============
*/

.nav-container {
  background: var(--mainBackground);
  box-shadow: var(--light-shadow);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-green-light);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-green-dark);
  transform: rotate(90deg);
}
.logo {
  height: 50px;
  width: 12rem;
}

.nav-link,
.right-nav-link-2 {
  color: var(--clr-green-dark);
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover {
  color: var(--mainBackground);
  background: var(--clr-green-dark);
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  transition: var(--transition);
}
.overflow {
  overflow: hidden;
}
.right-nav-link-2 a,
.right-nav-link-1 a {
  display: flex;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -16px;
  background: hsl(90, 55%, 75%);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.9rem;

  padding: 11px;
  color: var(--clr-green-dark);
}
.basket {
  display: flex;
  align-items: center;
  position: relative;
}
.basket svg {
  height: 1.6rem;
  margin-left: 5px;
}
.dropdown-content {
  position: absolute;
  display: block;
  left: 0;
  min-width: 10rem;
  padding: 1rem 0;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
  border: 1px solid;
  background-color: var(--mainBackground);
}
.dropdown-content .nav-link {
  font-size: smaller;
}

.dropdown-logout {
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    height: 5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
    overflow: initial;
  }
  .nav-links {
    display: flex;
    width: var(--fullHeight-width);
    flex-direction: row;
    justify-content: flex-start;
    height: 3rem;
    align-items: center;
  }

  .nav-link {
    padding: 0;
    margin: 0 0.5rem;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
    color: var(--clr-green-light);
  }
  .nav-link-border:hover {
    border-bottom: 2px solid var(--clr-green-dark);
    color: var(--clr-green-dark);
  }
  .right-nav-link-1 {
    margin-left: auto;
  }
  .right-nav-link-2,
  .right-nav-link-2:hover {
    padding-right: 5%;
  }
  .right-nav-link-2 a {
    margin-left: 10px;
  }
  .logo {
    margin-left: 30%;
  }
  .dropdown-content {
    right: 0;
    left: initial;
  }
}
