.header-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-image-container {
  height: 20vh;
  width: 100%;
  position: relative;
}
.header-image_inner {
  width: 100%;
  height: 20vh;
  clear: both;
}
.colorStyle {
  background-color: var(--clr-beige-light);
}
.header-image_span {
  box-sizing: content-box;
}
.header-image2 {
  display: block;
  width: 100%;
  height: 100%;
}
.page-header-outer {
  margin: 0;
  overflow: hidden;
  position: absolute;
  bottom: 40%;
  left: 10px;
  width: auto;
  max-width: fit-content;
  text-align: left;
  height: auto;
}
