.section-center-pageHeader {
  margin-left: 3rem;
  /* background: var(--mainBackground);
  background: RGBA(240, 227, 192, 0.6);*/
  border-radius: var(--radius);
  font-size: 2rem;
  padding: 5px;
}
.section-center-pageHeader h3 {
  color: black;
}

.section-center-pageHeader a {
  color: var(--clr-black);
  padding: 0.5rem;
  transition: var(--transition);
}

.section-center-pageHeader a:hover {
  color: var(--clr-green-dark);
}

@media (max-width: 450px) {
  .section-center-pageHeader {
    margin: auto;
    font-size: 1.5rem;
  }
}
