.process-images {
  width: 100%;
  display: grid;
  gap: 1rem;
  margin: 1rem auto;
  justify-self: center;
  grid-template-columns: auto auto;
  grid-template-rows: 150px 150px;
}

.column {
  position: relative;
}
.column-padding {
  padding-top: 100%;
}

.column-1 {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.process-img {
  vertical-align: middle;
  width: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.images-bundle {
  min-width: 450px;
  justify-self: center;
}
