/* 
============
About Page
============
*/
.main-about {
  max-height: 100%;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 750px) {
  .main-about-section {
    display: grid;
    grid-template-rows: auto auto;
  }
}

/* 
=====================
Our Process + AboutUs
=====================
*/
.about-grid {
  max-width: var(--max-width);
  padding: 1rem;
}
.about-btm-margin {
  margin-bottom: 1rem;
}
@media screen and (min-width: 750px) {
  .about-grid {
    padding: 2rem 1rem;
    margin: 0 auto;
  }
}
