/* 
====== 
Contact page 
======
*/
.section-contact {
  padding-bottom: 2.5rem;
}

.contact-container {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
}
.contact-container img {
  width: 100%;
  height: 100%;
  padding: 0;
}
.w-60 {
  width: 60vw;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.contact-form label {
  margin-right: 5px;
}
.contact-form button {
  align-self: center;
}
.contact-inputs {
  padding: 2px;
  border: var(--mainBackground) solid 3px;
  width: 100%;
}
.contact-inputs:focus {
  outline: var(--mainBackground) solid 3px;
  border: var(--clr-green-dark) solid 2px;
}
.top-border-parag {
  text-align: center;
  font-style: italic;
  font-family: var(--headersFont);
  border-top: var(--mainBackground) solid 1px;
  width: 80%;
  margin: 1rem auto 0 auto;
  align-self: end;
}
.contact-details {
  padding: 5%;
  display: grid;
  grid-auto-rows: auto;
}
.contact__details-first-child {
  margin-top: 2rem;
}

@media screen and (max-width: 499px) {
  .contact-container img {
    height: 70vw;
  }
}
@media screen and (min-width: 500px) {
  .contact-container {
    display: grid;
    grid-auto-columns: 40% auto;
    grid-auto-flow: column;
  }
}
