/* 
====== 
Contact page 
======
*/
.section-contact {
  padding-bottom: 2.5rem;
}
.contact-btm-margin {
  margin-bottom: 1.5rem;
}
.contact-container {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
}
.contact-container img {
  width: 100%;
  height: 100%;
  padding: 0;
}
.w-60 {
  width: 60vw;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.contact-form label {
  margin-right: 5px;
}

.contact-inputs {
  margin-top: 1rem;
}
.form-inputs {
  border: var(--mainBackground) solid 3px;
  width: 100%;
  padding: 2px;
}
.form-inputs:focus {
  outline: var(--mainBackground) solid 3px;
  border: var(--clr-green-dark) solid 2px;
}
.image-upload {
  background-color: white;
  padding: 0.5rem;
}
.form-inputs-error {
  border: var(--clr-red-dark) solid 3px;
}
.form-inputs-error:focus {
  border: var(--clr-red-dark) solid 2px;
  outline: var(--clr-red-light) solid 3px;
}
.top-border-parag {
  text-align: center;
  font-style: italic;
  font-family: var(--headersFont);
  border-top: var(--mainBackground) solid 1px;
  width: 80%;
  margin: 1rem auto 0 auto;
  align-self: end;
}
.contact-details {
  padding: 5%;
}
.contact-email {
  text-decoration: underline;
  color: var(--clr-green-dark);
}
@media screen and (max-width: 499px) {
  .contact-container img {
    height: 70vw;
  }
}
@media screen and (min-width: 500px) {
  .contact-container {
    display: grid;
    grid-auto-columns: 40% auto;
    grid-auto-flow: column;
  }
}
@media screen and (min-width: 800px) {
  .section-contact {
    width: 80vw;
    max-width: 1170px;
    margin: auto;
  }
  .contact-container {
    margin-top: 4rem;
  }
}
.contact-icons {
  padding-left: 1rem;
  display: flex;
  font-style: italic;
  color: var(--clr-green-dark);
  position: absolute;
  bottom: 10px;
}
.contact-img-container {
  position: relative;
}
