.signin {
  width: 100%;
  padding: 5%;
  margin: 2rem auto 0 auto;
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 5%;
}

.login-input-card {
  width: 100%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
}
.login-input-card > label {
  font-weight: bold;
}
.new-customer {
  margin-top: 1rem;
  text-align: center;
  font-size: smaller;
}
.new-customer a {
  color: var(--clr-green-dark);
}
.new-customer a:hover {
  color: var(--clr-green-light);
}
.signin-error {
  margin-bottom: 2rem;
  color: var(--clr-red-dark);
}
.signin-error button {
  display: none;
}
