.main-detail-container {
  padding: 0;
  margin-top: 40px;
}

.main-detail-container,
.info-box,
.quantity,
.pic-container {
  display: flex;
  flex-direction: column;
}
.pic-container,
.info-box {
  width: 90%;
  align-self: center;
}
.pic-container {
  align-items: center;
}

.details-container {
  width: var(--fullHeight-width);
}

.details-container h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-black);
}
.details-form {
  margin-top: 2rem;
}

#quantity {
  max-width: 10%;
  min-width: 35px;
  height: 40px;
  font-size: 1.5rem;
}
.add-cart {
  height: 3rem;
  margin-top: 1rem;
}

.social-container {
  display: flex;
  margin: 15px 5% 5px 5%;
}
.social-container li {
  padding: 7px;
  border: solid 1px gray;
  margin-right: 5px;
  box-shadow: var(--lightShadow);
  transition: var(--transition);
}

.social-container li:hover {
  color: var(--clr-red-light);
  box-shadow: var(--dark-shadow);
}
.social-container span {
  padding-left: 4px;
}
.back-results {
  margin: 0.8rem auto 0 auto;
  width: 90%;
  color: var(--clr-green-dark);
}
@media screen and (min-width: 750px) {
  .main-singleItem-page {
    max-width: var(--fullHeight-width);
    height: 100vh;
  }
  .main-detail-container {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    width: var(--fullHeight-width);
    height: 100%;
  }
  .pic-container {
    margin-left: 2rem;
  }
  .pic-container,
  .info-box {
    align-self: flex-start;
  }
}
