.main-detail-container {
  padding: 0;
  margin-top: 40px;
}

.main-detail-container,
.info-box,
.quantity,
.pic-container {
  display: flex;
  flex-direction: column;
}
.pic-container,
.info-box {
  width: 90%;
  align-self: center;
}
.pic-container {
  align-items: center;
}

.details-container {
  width: var(--fullHeight-width);
}

.details-container h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-black);
}
.details-form {
  margin-top: 2rem;
}

#quantity {
  max-width: 10%;
  min-width: 35px;
  height: 40px;
  font-size: 1.5rem;
}
.add-cart {
  height: 3rem;
  margin-top: 1rem;
}

.description-container {
  margin-top: 2rem;
  text-transform: capitalize;
  background: var(--clr-beige-light);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  padding: 1rem 0;
}
.description-container p,
.description-container h4 {
  margin: 5px 5%;
}
.description-container h4 {
  margin-bottom: 1rem;
}
.social-container {
  display: flex;
  margin: 15px 5% 5px 5%;
}
.social-container li {
  padding: 7px;
  border: solid 1px gray;
  margin-right: 5px;
  box-shadow: var(--lightShadow);
  transition: var(--transition);
}

.social-container li:hover {
  color: var(--clr-red-light);
  box-shadow: var(--dark-shadow);
}
.social-container span {
  padding-left: 4px;
}
.shipping {
  font-size: smaller;
  color: var(--clr-grey-dark);
}
@media screen and (min-width: 750px) {
  .main-singleItem-page {
    max-width: var(--fullHeight-width);
    height: 100vh;
  }
  .main-detail-container {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 5%;
    width: var(--fullHeight-width);
    height: 100%;
  }
  .pic-container {
    margin-left: 2rem;
  }
  .pic-container,
  .info-box {
    align-self: flex-start;
  }
}

/*
======================
ImageThumbnail Styles
======================
*/

.thumbnail img {
  height: var(--fullHeight-width);
  border-radius: var(--radius-single-item);
  border: var(--border-single-item);
}
.thumbnail-list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 70%;
  grid-template-columns: 45% 45%;
  gap: 10%;
  justify-items: center;
}
.thumbnail-list li {
  margin-top: 10px;
  width: 80%;
}
.featured-photo {
  height: 50vh;
  border-radius: var(--radius-single-item);
  border: var(--border-single-item);
}
.pic-middle-container {
  width: var(--fullHeight-width);
  display: flex;
  justify-content: center;
}
