.price-container {
  display: flex;
  flex-flow: column wrap;
  width: var(--fullHeight-width);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--clr-black);
  padding-top: 5px;
}
.price {
  font-weight: bold;
  font-size: 1.1rem;
}

.sale {
  color: var(--clr-red-dark);
}
.hidden {
  position: absolute;
  overflow: hidden;
  margin: 0;
  height: 1rem;
  width: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
}
.shipping {
  font-size: small;
  color: var(--clr-grey-dark);
}
.stock {
  font-size: smaller;
}
.in-stock {
  color: var(--clr-green-dark);
}
.out-stock {
  color: var(--clr-red-dark);
}
.dinamic-size {
  font-size: 14px;
  text-decoration: line-through;
}
