/*
========================== 
PRODUCT
--- styled for max-width 750px ---
==========================

*/

.content-item {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.item-style {
  background: var(--clr-beige-light);
  box-shadow: var(--lightShadow);
  transition: var(--transition);
  border-radius: var(--radius);
}
.item-style:hover {
  box-shadow: var(--dark-shadow);
}
.item-inner-container {
  position: relative;
  height: var(--fullHeight-width);
  min-height: var(--fullHeight-width);
  padding: 0.8rem;
  border: var(--home-items-border);
  display: grid;
  justify-items: center;
  grid-template-rows: 40% auto;
}
.img-container {
  position: relative;
  width: var(--fullHeight-width);
}
.img-inner-container {
  padding-top: 100%;
}
.item-photo {
  width: var(--fullHeight-width);
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: var(--fullHeight-width);
  border-radius: var(--radius);
  border: var(--home-items-border);
}
.info-container {
  text-transform: capitalize;
  display: grid;
  grid-auto-rows: 33%;
  align-items: center;
  color: var(--clr-grey-dark);
  width: 100%;
}
.info-container p {
  font-family: var(--headersFont);
  margin: 0;
  font-size: smaller;
}
.item-title {
  font-weight: bold;
  padding-top: 5px;
}
.price-container {
  display: flex;
  flex-flow: column wrap;
  width: var(--fullHeight-width);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--clr-black);
  padding-top: 5px;
}

.btn {
  font-size: 0.6rem;
  font-weight: bold;
}
.item-width {
  width: 45%;
}
.price {
  font-weight: bold;
}
.sale {
  color: var(--clr-red-dark);
  font-size: 16px;
}
@media screen and (max-width: 319px) {
  .item-width {
    width: var(--fullHeight-width);
  }
  .content-item {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 750px) {
  .img-container {
    width: var(--fullHeight-width);
    max-width: 250px;
    max-height: 250px;
  }
  .item-photo {
    width: var(--fullHeight-width);
    max-width: 250px;
    max-height: 250px;
  }
  .item-width {
    width: 30%;
  }
  .item-inner-container {
    grid-auto-rows: 50%;
  }
}
@media screen and (min-width: 750px) {
  .item-width {
    width: 20%;
  }
  .item-inner-container {
    grid-auto-rows: 50%;
  }
  .content-item {
    margin: 0 0 1rem 0;
  }
}
