/*
========================== 
PRODUCT
*** styled for (min-width: 319px) and (max-width: 415px) + @media queries ***
==========================

*/

.item-inner-container {
  position: relative;
  height: var(--fullHeight-width);
  min-height: var(--fullHeight-width);
  padding: 0.8rem;
  border: var(--home-items-border);
  display: grid;
  justify-items: center;
}
.img-container {
  position: relative;
  width: var(--fullHeight-width);
}
.img-inner-container {
  padding-top: 100%;
}
.item-photo {
  width: var(--fullHeight-width);
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: var(--fullHeight-width);
  border-radius: var(--radius);
  border: var(--home-items-border);
}
.info-container {
  text-transform: capitalize;
  display: grid;
  align-items: center;
  color: var(--clr-grey-dark);
  width: 100%;
}
.info-container p {
  font-family: var(--headersFont);
  margin: 0;
  font-size: smaller;
}
.item-title {
  font-weight: bold;
  padding-top: 5px;
}
@media screen and (min-width: 450px) {
  .item-inner-container {
    grid-auto-rows: 50%;
  }
}
