:root {
  /* darkest grey - used for headings */
  --clr-black: #222;
  --clr-grey-dark: #5e5d5c;
  --clr-grey-light: grey;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(90, 30%, 33%);
  --clr-green-light: hsl(90, 42%, 60%);
  --clr-green-lightest: #d4e6a5;
  --clr-beige-light: #f5f0e4;
  --clr-footer-border: #daceaf;
  --mainBackground: #f0e3c0;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --home-items-border: 1px solid #deb887;
  --border-single-item: 2px solid #deb887;
  --radius: 0.25rem;
  --radius-single-item: 3%;
  --transition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --spacing: 0.1rem;
  --fixed-width: 620px;
  --smallWidth: 85vw;
  --smallestWidth: 70vw;
  --fullWidth: 1170px;
  --halfHeight-width: 50%;
  --fullHeight-width: 100%;
  --mainFont: "Padauk", serif;
  --headersFont: "Philosopher", serif;
}
/*
====== 
Global Styles 
======
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--mainFont), BlinkMacSystemFont, Cantarell, "Open Sans",
    "Helvetica Neue";
  color: var(--clr-black);
  background: var(--mainBackground);
  font-size: 1.1rem;
  min-width: 320px;
}

main {
  padding-bottom: 2.5rem; /* footer height*/
}
.section {
  padding-bottom: 2.5rem;
  max-width: var(--fullWidth);
  margin: auto;
  margin-top: 4rem;
}
@media screen and (max-width: 450px) {
  .section {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  .section {
    max-width: 1300px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headersFont);
}
h1 {
  font-size: 2rem;
  color: #383838;
}

ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary-1);
}
img {
  width: var(--fullHeight-width);
  display: block;
}

.titles {
  padding-top: 1rem;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}

.box-style-look {
  text-transform: capitalize;
  background: var(--clr-beige-light);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Buttons
===============
*/

.btn {
  letter-spacing: var(--mainSpacing);
  padding: 0.45rem 1rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.8rem;
  width: fit-content;
  height: fit-content;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-center {
  align-self: center;
  margin-top: 2rem;
}

.btn-backhome {
  margin: 5rem 30vw;
}

.btn-green-dark,
.btn-green-light:hover {
  background: var(--clr-green-dark);
  color: white;
  border: 1px solid var(--clr-green-dark);
  cursor: pointer;
  border-radius: var(--radius);
}
.btn-green-dark:hover,
.btn-green-light {
  color: var(--clr-green-dark);
  background: var(--clr-green-lightest);
  transition: var(--transition);
  border: 1px solid var(--clr-green-dark);
}
.zoom-btn {
  width: 2rem;
  margin: 0 5px 5px 0;
  font-weight: 900;
  font-size: 1rem;
}

.add-cart-btn {
  width: 50%;
  height: var(--fullHeight-width);
  font-size: 1rem;
}

.clear-btn {
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  padding: 0.2rem;
}
.btn-transparent-red {
  color: var(--clr-red-dark);
  background: transparent;
  transition: var(--transition);
  border: solid 1px var(--clr-red-dark);
  border-radius: var(--radius);
  text-transform: capitalize;
}
.btn-transparent-red:hover {
  background: var(--clr-red-dark);
  color: var(--clr-white);
}
.remove-btn {
  border: none;
  color: var(--clr-red-dark);
}

.btn-categories {
  height: 50px;
  background: transparent;
  font-weight: bold;
  border: none;
  display: flex;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--clr-green-dark);
}
.btn-categories:hover {
  background: var(--clr-green-dark);
  color: var(--mainBackground);
}

/****Card Style*/
.item-style {
  background: var(--clr-beige-light);
  box-shadow: var(--lightShadow);
  transition: var(--transition);
  border-radius: var(--radius);
}
.item-style:hover {
  box-shadow: var(--dark-shadow);
}
